
h1{
    text-align: center;
    font-family: Arial, Helvetica;
}
#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica;
}

#buttonContainer{
    text-align: center ;
    gap: 1em;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(214, 100%, 74%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.buttons:hover{
    background-color: hsl(214, 100%, 60%);
}
.buttons-reset{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(0, 100%, 74%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.buttons-reset:hover{
    background-color: hsl(0, 100%, 60%);
}